.flex {
    display: flex;
}

.player {
    width: 25%;
    background-color: #78f4e8;
    margin: 1rem;
    padding: 1rem;
    font-size:1.2rem;
    word-break: break-all;
}

main {
    padding: 2rem;
    font-family: "Roboto", sans-serif;
}

h2 {
    text-transform: capitalize;
}

.stats {
    background-color: #f2a3c7;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}

.bugCounter {
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    text-align:center;
    background-color: #fef0ba;
}

#allGamesStats {
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    text-align:center;
    background-color: #f8b095;
}